input[type=text] {
  font-size: 16px;
  transform: scale(0.8);
}

.ios-style-none {
  -webkit-appearance: none;
}

.btlr5 {
  border-top-left-radius: 5px;
}
.btrr5 {
  border-top-right-radius: 5px;
}
.fs10 {
  font-size: 10px
}

.fs12 {
  font-size: 12px
}

.m-side-5 {
  margin: 0 5px;
}

.m-side-10 {
  margin: 0 10px;
}

.m-right-5 {
  margin-right: 5px;
}

.m-right-10 {
  margin-right: 10px;
}

.m-left-m-20 {
  margin-left: -20px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

